{% extends "index.html" %}
{% block content %}
    
    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>    
        <h2>Escolha o modelo de viga</h2>
        <br>
        <button class="button-image" onclick="redirectToTBeam(2)">
            <img src="{{ url_for('static', filename='images/vigaI.png')}}" alt="botão da viga em I">
        </button>
    
        <button class="button-image" onclick="redirectToTBeam(1)">
            <img src="{{ url_for('static', filename='images/vigaT.png')}}" alt="botão da viga em T">
        </button>
    </section>
    <script  src="{{ url_for('static', filename='js/script.js')}}"></script>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}